{% extends "index.html" %}
{% block content %}
  <form method="post" action="{{ url_for('servidor.atualizar_servidor') }}">
    <label for="id">ID:</label>
    <input type="text" id="id" name="id">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome">
    <label for="cpf">CPF:</label>
    <input type="text" id="cpf" name="cpf">
    <label for="contato">Contato:</label>
    <input type="text" id="contato" name="contato">
    <label for="nascimento">Nascimento:</label>
    <input type="text" id="nascimento" name="nascimento">
    <label for="status">Status:</label>
    <input type="text" id="status" name="status">
    <input type="submit" value="Atualizar">
  </form>
{% endblock %}