<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Erro de CPF Duplicado</title>
</head>
<body>
    <h1>Erro de CPF Duplicado</h1>
    <p>Ocorreu um erro ao inserir o servidor porque o CPF já está cadastrado.</p>
    <a href="{{ url_for('aplicativo.index') }}">Voltar</a>
</body>
</html>
