{% extends "chave/index.html" %}
{% block content %}
    <h1>EMPRÉSTIMO DE CHAVES</h1>
    <nav>
    <ul>
        <li><a href="{{ url_for('chave.create_get') }}">Criar Chave</a></li>
        <li><a href="{{ url_for('chave.read_get') }}">Ler Chave</a></li>
        <li><a href="{{ url_for('chave.update_get') }}">Atualizar Chave</a></li>
        <li><a href="{{ url_for('chave.delete_get') }}">Deletar Chave</a></li>
        <li><a href="{{ url_for('chave.mostrarChaves') }}">Mostrar Chaves</a></li>
    </ul>
    </nav>
{% endblock %}