{% extends "index.html" %}
{% block content %}
 <form method="post" action="{{ url_for('emprestimo.inserir_emprestimo') }}">
   <label for="datahora_emprestimo">Data e Hora do Empréstimo:</label>
   <input type="datetime-local" id="datahora_emprestimo" name="datahora_emprestimo" pattern="\d{4}-\d{2}-\d{2}" title="Informe a data no formato YYYY-MM-DD" required>
   
   <label for="datahora_devolucao">Data e Hora da Devolução:</label>
   <input type="datetime-local" id="datahora_devolucao" name="datahora_devolucao" pattern="\d{4}-\d{2}-\d{2}" title="Informe a data no formato YYYY-MM-DD" required>
   
   <label for="status">Status:</label>
   <input type="text" id="status" name="status" required>
   
   <label for="chave_id">Chave ID:</label>
   <input type="number" id="chave_id" name="chave_id" required>
   
   <label for="servidor_retirou_id">Servidor Retirou ID:</label>
   <input type="number" id="servidor_retirou_id" name="servidor_retirou_id" required>
   
   <label for="servidor_devolveu_id">Servidor Devolveu ID:</label>
   <input type="number" id="servidor_devolveu_id" name="servidor_devolveu_id">
   
   <input type="submit" value="Criar">
 </form>
{% endblock %}
